.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    width: 200px;
    height: 200px;  
}